:root{
    --backgroundColor: #292929;
    --seatColor: #444451;
    --textColor:#777;
    --reservedColor:#fff;
    --selectedColor:#f6eb6f;
    --infoBackground:rgba(0,0,0,0.3);

    --transition: all .5s ease;

    --boxShadow: 0 3px 9px rgba(255,255,255,0.6);
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    background-color: var(--backgroundColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.screen{
    margin: 20px 0;
    box-shadow: var(--boxShadow);
    height: 250px;
}
.screen img{
    width: 100%;
    height: 100%;
}
.seat.reserved{
    color:var(--reservedColor);
}
.seat.selected{
    color: var(--selectedColor);
}
.seats-row{
    display: flex;
}
.seat{
    color:var(--seatColor);
    font-size: 22px;
    margin: 5px;
    transition: var(--transition);
}
.seat:not(.reserved):hover{
    cursor: pointer;
    transform: scale(1.4);
}

.movie-list{
    margin: 20px 0;
}

.info{
    background-color: var(--infoBackground);
    display: flex;
    padding: 5px 10px;
    color: var(--textColor);
    gap:8px;
}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:15px;

}

.info-text{
    color: var(--reservedColor);
    margin: 5px 0;
    display: none;

}

info-text.open{
    display: block;
}

.info-text span{
    color: var(--selectedColor);
}